<footer class="footer fixed-bottom">
  <span class="text">Copyright &copy; 2019</span>
  <ul class="list-inline footer-list">
    <li><a href="/privacy">privacy</a></li>
    <li><a href="/privacy">terms</a></li>
    <li><a href="/cookies">cookies</a></li>
  </ul>
</footer>
