<footer class="page-footer font-small">

    <div class="row">
        <div class="col-md-12" style="text-align: center">
            <hr>
            <span class="text-muted">Copyright &copy; 2019</span>
            <br>
            <div class="footer-links">

                <a href="mailto:legal@namebrandnews.com" class="text-muted">legal</a> &bull;
                <a href="/privacy" class="text-muted">privacy</a> &bull;
                <a href="/terms" class="text-muted">terms</a><br>
                <a class="no-bs" href="https://twitter.com/namebrandnews1" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="no-bs" href="https://www.youtube.com/channel/UCG3GWWwwelDNeF409cDRPqg" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
               </div>
    </div>
</footer>