<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><i class="material-icons link-elem">home</i><span class="link-elem link-text">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="material-icons link-elem">whatshot</i><span class="link-elem link-text">Trending</span></a>
        </li>
        <% if(user != null){ %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons link-elem">notifications</i><span class="link-elem link-text">Notifications</span>&nbsp;<span class="badge badge-secondary"><%= user.notifications.length %></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% for(var i = 0; i < user.notifications.length; i++){ %>
              <%= user.notifications[i] %>
            <% } %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons link-elem">people</i><span class="link-elem link-text">Teams</span>&nbsp;
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% for(var i = 0; i < user.notifications.length; i++){ %>
              <%= user.notifications[i] %>
            <% } %>
          </div>
        </li>
        <% } %>
      </ul>
      <ul class="nav navbar-nav mr-right">
        <li class="nav-item nav-center">
          <span class="fa-stack fa-md">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-bolt fa-stack-1x fa-inverse"></i>
          </span>

        </li>
        <% if(user != null){ %>
        <li class="nav-item">
          <a href="/profile">
            <img src="<%= user.picture %>" class="nav-img" />
          </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary nav-btn" href="#">Post</a>
        </li>
        <% }else{ %>
        <li class="nav-item">
          <a class="btn btn-primary nav-btn" href="/login">Login</a>
        </li>
        <% } %>
      </ul>
    </div>

  </div>
</nav>
