<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/" style="">
      <h2>Namebrand<span class="text-primary">News</span></h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <% if(typeof sec == 'undefined'){ %>active<% } %> ">
          <a class="nav-link no-ul" href="/">All</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "us"){ %>active<% } } %> ">
          <a class="nav-link no-ul" href="/?sec=us">U.S.</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "world"){ %>active<% } } %>">
          <a class="nav-link no-ul" href="/?sec=world">World</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "politics"){ %>active<% } } %>">
          <a class="nav-link no-ul" href="/?sec=politics">Politics</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "business"){ %>active<% } } %>">
          <a class="nav-link no-ul" href="/?sec=business">Business</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "tech"){ %>active<% } } %>">
          <a class="nav-link no-ul" href="/?sec=tech">Tech</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "health"){ %>active<% } } %>">
          <a class="nav-link no-ul" href="/?sec=health">Health</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "entertainment"){ %>active<% } } %>">
          <a class="nav-link no-ul" href="/?sec=entertainment">Entertainment</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "opinion"){ %>active<% } } %>">
          <a class="nav-link no-ul" href="/?sec=opinion">Opinion</a>
        </li>
        <li class="nav-item <% if(typeof sec != 'undefined'){ if(sec == "history"){ %>active<% } } %>">
          <a class="nav-link no-ul" href="/?sec=history">History</a>
        </li>
        <% if(user != null){ %>
          <li class="nav-item">
            <a class="nav-link no-ul" href="/profile"><%= user.username %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link no-ul" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
          </li>
        <% }else{ %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar bottom navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fas fa-newspaper"></i>&nbsp;&nbsp;News</a>
      </li>
      <% if(user != null){ if(user.account == "admin" || user.account == "superadmin") { %>
     <li class="nav-item">
       <a class="nav-link" href="/admin"><i class="fas fa-shield-alt"></i>&nbsp;&nbsp;Admin</a>
     </li>
     <% } %>
     <%  if(user.account == "writer" || user.account == "admin" || user.account == "superadmin") { %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus"></i> New
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/new/article">Article</a>
            <a class="dropdown-item" href="/new/video">Video&nbsp;<span class="text-primary float-right">new</span></a>
          </div>
        </li>
     <% } } %>
    </ul>
    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-lg-0" action="/search/" method="get">
        <input class="form-control mr-sm-2 nav-search" type="search" placeholder="Search" name="q" id="q" aria-label="Search">
      </form>
    </ul>
  </div>
</nav>
